<h1 class="display-4">Edit <%= @recipe.name %> </h1>
<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Recipe Name:</span>
        </div>
        <input type="text" class="form-control" placeholder="Meatballs" aria-label="Username" aria-describedby="basic-addon1"  value="<%= @recipe.name %>" id="recipe[name]" name="recipe[name]">
    </div>
  
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Cook-Time:</span>
        </div>
        <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" name="recipe[cook_time]" value="<%= @recipe.cook_time %>" id="recipe_cook_time">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Ingredients:</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" name="recipe[ingredients]" placeholder="<%= @recipe.ingredients %>" id="recipe_ingredients"></textarea>
    </div><br>
        
     <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Instructions:</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" placeholder="<%= @recipe.instructions %>" id="recipe_instructions"></textarea>
    </div><br>

      <button class="btn btn-outline-warning" id="submit" type="submit">Save</button>



</form>