<h1>Edit <%= @recipe.name %> </h1>
<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label for="name">Name:</label>
    <input type="text" name="recipe[name]" id="name" value="<%= @recipe.name %>">

    <label >Ingredients:</label>
    <input type="text" name="recipe[ingredients]" value="<%= @recipe.ingredients %>" id="recipe_ingredients">

    <label >Instructions:</label>
    <input type="text" name="recipe[instructions]" value="<%= @recipe.instructions %>" id="recipe_instructions">

    <label >Cook Time:</label>
    <input type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time %>" id="recipe_cook_time">

        <input type="submit" value="Save">


</form>