<h1>Chef <%= @user.name%> </h1>
<h3>Dashboard</h3>
<ul>
    <li>Your books: 
        <ol>
            <% current_user.cook_books.each do |cb|%>
               
                <li><a href="/cookbooks/<%= cb.id %>"><%= cb.name %></a></li>
                <% end %>
                
        </ol>
    </li>
    <li>
        <a href="/cookbooks/new">Create a New Cook-Book </a>
    </li>
    <li><a href="/cookbooks">Browse all Cook-Books</a></li>
    
    <li>Your Crafted Recipes:
        <ol>
            <% current_user.recipes.each do |r| %>
                
                <li><a href="/recipes/<%= r.id %>"> <%= r.name %></a> </li>
                <% end %>
                
        </ol>   
    </li>
    <li> <a href="/recipes/new">Create a New Recipe</a>
    </li>
    <li>
        <a href="/recipes">Browse more Recipes</a> 
    </li>

</ul>